/* For URAS styles */

:root {
  --color-silver-1: #c7c5b8;
  --color-silver-2: #b1b1b1;
  --color-silver-3: #a3a3a3;
  --color-silver-gradient: linear-gradient(to bottom, var(--color-silver-1) 0%, var(--color-silver-2) 50%, var(--color-silver-3) 100%);
  --color-gray: #333;
  --color-gray-2: #888;
  --color-gray-3: #ccc;
  --color-black: #000;
  --color-button-1: #4D91FF;
  --color-button-2: #2563EB;
  --color-button-3: #e56c00;
  --primary-color: #00386C;
  --primary-color-2: #004F95;
  --primary-color-3: #005BB5;
  --primary-color-4: #283d50;
  --primary-color-5: #556877;
  --secondary-color: #F58233;
  --secondary-color-2: #FF9B56;
  --terceaty-color: #bfddfe;
  --color-white: #f5f5f5;
  --color-red: #F44336;
  --color-gray-light: #c7c5b8;
  --button-gradient: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-2));
  --button-gradient-reverse: linear-gradient(295deg, var(--primary-color-2), var(--primary-color));
}

* {
  transition: all 0.25s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Orgon-Regular, Arial, Helvetica, sans-serif;
  background: var(--primary-color);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  padding: 2em;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
}